
@font-face{
    font-family: "DMSans-Regular";
    src: url("./assets/fonts/static/DMSans-Medium.ttf");
}

.fontExtraLarge{
    font-size: 8rem;
}
.fontLarge{
    font-size: 4.8rem;
}
.fontMedium{
    font-size: 4rem;
}
.fontSmall{
    font-size: 3rem;
}
.fontWeight500{
    font-weight: 500;
}


.bgColorPurple{
    background-color: hsl(254, 88%, 90%);
}
.bgColorDarkPurple{
    background-color: hsl(256, 67%, 59%);
}
.bgColorYellow{
    background-color: hsl(31,66%,93%);
}
.bgColorDarkYellow{
    background-color: hsl(39, 100%, 71%);
}
.bgColorWhite{
    background-color: hsl(0, 0%, 100%);
}
.bgColorBlack{
    background-color: hsl(0, 0%, 7%);
}
.bgColorGray{
    background-color: hsl(0,0%, 95%);
}

.colorPurple{
    color: hsl(254, 88%, 90%);
}
.colorDarkPurple{
    color: hsl(256,67%,59%);
}
.colorYellow{
    color: hsl(31,66%,93%);
}
.colorDarkYellow{
    color: hsl(39, 100%, 71%);
}
.colorWhite{
    color: hsl(0,0%,100%);
}
.colorBlack{
    color: hsl(0,0%,7%);
}


.borderCircle{
    border-radius: 20px;
}
.boxShadow{
    box-shadow: 0 0 5px 5px gray;
}
.borderPadding{
    padding: 2rem 4rem;
}

* {
    font-family: "DMSans-Regular";
}
body{
    display: grid;
    gap: 2rem;
}

.sectionFiveStar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 5rem;
    gap: 2rem;
}
    .pFiveStarMain{        
        font-size: 7rem;
        font-weight: 500;
        text-align: center;
        margin: 2rem;
        line-height: 6rem;
    }
    .sectionFiveStar > img{
        height: 5.5rem;
    }
    .pFiveStarSub{
        font-size: 3rem;
        margin: 0;
    }
.sectionMultipleAccount{
    display: flex;
    flex-direction: column;

}
    .sectionMultipleAccount > img{
        width: 50rem;
    }
    .sectionMultipleAccount > p{
        line-height: 3.5rem;
    }
.sectionConsistentSchedule{
    display: flex;
    flex-direction: column;
    font-weight: 500;
    padding-bottom: 0;
    line-height: 3.5rem;
    margin: 0px;
    align-items: flex-start;
}
    .sectionConsistentSchedule > p{
        font-weight: 500;
        font-size: 4rem;
    }
    .sectionConsistentSchedule > img{
        width: 38rem;
    }
.sectionScheduleMedia{
    display: flex;
    flex-direction: column;
}
    .sectionScheduleMedia > p{
        text-align: center;
        line-height: 3rem;
    }
.sectionFollowerGrowth{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 6rem;
    padding-bottom: 0;
    padding-left: 10rem;
    padding-right: 10rem;
}
    .sectionFollowerGrowth > img{
        width: 38rem;
    }
    .sectionFollowerGrowth > p{
        text-align: center;
    }
.sectionFasterGrowth{
    padding-bottom: 4rem;
    padding-top: 4rem;
}
    .sectionFasterGrowth > img{
        width: 32rem;
    }
.sectionQuicker{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-top: 4rem;
    padding-bottom: 6rem;
}
    .sectionQuicker > img{
        width: 32rem;
    }
/* MEDIA */

@media screen and (orientation: portrait){
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding: 2rem;
    }
    .sectionFiveStar{
        width: 75.5vw;
        height: 45rem;
    }
    .sectionMultipleAccount{
  

    }
}